<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>searchUserList</title>
</head>
<body>
<!--/*@thymesVar id="page1" type="com.baomidou.mybatisplus.extension.plugins.pagination.Page<kcredit.tech.chnl.user.plus.PlusUser>"*/-->
<table th:cellpadding="4">
    <tr>
        <td>No</td>
        <td>Name</td>
        <td>Grade</td>
        <td>RegDate</td>
        <td>UpdDate</td>
    </tr>

    <tr th:each="user : ${page1.records}">
        <td th:text="${user.no}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.grade}"/>
        <td th:text="${#dates.format(user.regDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"/>
        <td th:text="${#dates.format(user.updDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"/>
    </tr>

</table>

<table th:cellpadding="4">
    <tr><td>pageSize</td><td th:text="${page1.size}"></td></tr>
    <tr><td>TotalCount</td><td th:text="${page1.total}"></td></tr>
    <tr><td>CurrentPageNo</td><td th:text="${page1.current}"></td></tr>
    <tr><td>TotalPageCount</td><td th:text="${page1.pages}"></td></tr>
</table>

</body>
</html>