<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userInfoList</title>
</head>
<body>
<!--/*@thymesVar id="page" type="com.baomidou.mybatisplus.extension.plugins.pagination.Page<kcredit.tech.chnl.user.plus.PlusUser>"*/-->
<table th:cellpadding="4">
    <tr>
        <td>No</td>
        <td>Name</td>
        <td>Grade</td>
        <td>RegDate</td>
        <td>UpdDate</td>
    </tr>

    <tr th:each="user : ${page.records}">
        <td th:text="${user.no}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.grade}"/>
        <td th:text="${#dates.format(user.regDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"/>
        <td th:text="${#dates.format(user.updDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"/>
    </tr>

</table>

<table th:cellpadding="4">
    <tr>
        <td>TotalCount</td>
        <td th:text="${page.total}"></td>
    </tr>
    <tr>
        <td>pageSize</td>
        <td th:text="${page.size}"></td>
    </tr>
    <tr>
        <td>CurrentPageNo</td>
        <td th:text="${page.current}"></td>
    </tr>
    <tr>
        <td>TotalPageCount</td>
        <td th:text="${page.pages}"></td>
    </tr>
</table>

</body>
</html>