<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>selectAllUserList</title>
</head>
<body>

<table th:cellpadding="4">
    <tr>
        <td>No</td>
        <td>Name</td>
        <td>Grade</td>
        <td>RegDate</td>
        <td>UpdDate</td>
    </tr>

    <!--/*@thymesVar id="selectAllUserList" type="java.util.List<kcredit.tech.chnl.user.legacy.LegacyUser>"*/-->
    <tr th:each="user : ${selectAllUserList}">
        <td th:text="${user.no}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.grade}"/>
        <td th:text="${#dates.format(user.regDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"/>
        <td th:text="${#dates.format(user.updDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"/>
    </tr>

</table>

</body>
</html>