<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kcredit.tech.chnl.user.plus.PlusMapper">

    <select id="nextval">
        SELECT nextval(#{sequenceName})
    </select>

    <select id="nextvalUserNo">
        select nextval('tech_chanl.seq_user_no')
    </select>

    <select id="searchUserListByXmlQuery">
        SELECT *
        FROM tech_chnl.user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="data.no        >  0"   ><![CDATA[ no = #{data.no}                   ]]></if>
            <if test="data.name      != null"><![CDATA[ AND name ~ #{data.name}           ]]></if>
            <if test="data.grade     != null"><![CDATA[ AND grade = #{data.grade}         ]]></if>
            <if test="data.startDate != null"><![CDATA[ AND reg_date >= #{data.startDate} ]]></if>
            <if test="data.endDate   != null"><![CDATA[ AND reg_date <= #{data.endDate}   ]]></if>
        </trim>
        ORDER BY NO
        LIMIT #{data.limit} OFFSET #{data.offset}
    </select>

</mapper>