<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kcredit.tech.chnl.user.legacy.LegacyMapper">

    <select id="searchUserList">
        SELECT *
        FROM tech_chnl.user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="data.no        > 0    "><![CDATA[ no = #{data.no}                   ]]></if>
            <if test="data.name      != null"><![CDATA[ AND name ~ #{data.name}           ]]></if>
            <if test="data.grade     != null"><![CDATA[ AND grade = #{data.grade}         ]]></if>
            <if test="data.startDate != null"><![CDATA[ AND reg_date >= #{data.startDate, jdbcType=TIMESTAMP} ]]></if>
            <if test="data.endDate   != null"><![CDATA[ AND reg_date <= #{data.endDate  , jdbcType=TIMESTAMP} ]]></if>
        </trim>
        LIMIT #{page.limit} OFFSET #{page.offset}
    </select>

</mapper>