<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kcredit.tech.chnl.user.plus.PlusMapper">

    <select id="nextval">
        SELECT nextval(#{sequenceName})
    </select>

    <select id="nextvalUserNo">
        select nextval('tech_chanl.seq_user_no')
    </select>

    <select id="searchUserListByXmlQuery">
        SELECT *
        FROM tech_chnl.user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="search.no        >  0"><![CDATA[ no = #{search.no}                   ]]></if>
            <if test="search.name      != null"><![CDATA[ AND name ~ #{search.name}           ]]></if>
            <if test="search.grade     != null"><![CDATA[ AND grade = #{search.grade}         ]]></if>
            <if test="search.startDate != null"><![CDATA[ AND reg_date >= #{search.startDate} ]]></if>
            <if test="search.endDate   != null"><![CDATA[ AND reg_date <= #{search.endDate}   ]]></if>
        </trim>
        ORDER BY NO
    </select>

</mapper>